---
interface Props {
  title: string;
}
import { Image } from "astro:assets";
import aboutImage from "../images/about-image.avif";
import {
  aboutTitle,
  aboutPara,
  aboutPara2,
  skill,
} from "../content/aboutContent";
const { title } = Astro.props;
---

<section class="about pt-[150px] pb-[100px]">
  <div class="container">
    <h2 class="text-center text-[60px] text-white font-semibold mb-[30px]">
      {aboutTitle}
    </h2>
    <div class="grid grid-cols-2">
      <div class="">
        <p class="text-white text-[16px] font-medium mb-[30px] max-w-[620px]">
          {aboutPara}
        </p>
      </div>
      <div>
        <p class="text-white text-[16px] font-medium mb-[30px] max-w-[620px]">
          {aboutPara2}
        </p>
      </div>
      <div>
        <div>
          <h4 class="text-white text-[20px] uppercase font-medium mb-[10px]">
            {skill}
          </h4>
          <div
            class="h-[6px] relative max-w-xl rounded-full overflow-hidden bg-[#ddd] mb-[20px]"
          >
            <div class="w-[50%] h-full bg-theme-gradiant absolute"></div>
          </div>
        </div>
        <div>
          <h4 class="text-white text-[20px] uppercase font-medium mb-[10px]">
            {skill}
          </h4>
          <div
            class="h-[6px] relative max-w-xl rounded-full overflow-hidden bg-[#ddd]"
          >
            <div class="w-[50%] h-full bg-theme-gradiant absolute"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
